<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zoron.carbom">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".view.QueryActivity"
            android:label="@string/title_activity_query" />
        <activity
            android:name=".view.InActivity"
            android:label="@string/title_activity_in" />
        <activity
            android:name=".view.OutActivity"
            android:label="@string/title_activity_out" />
        <activity
            android:name=".view.BorrowActivity"
            android:label="@string/title_activity_borrow" />
        <activity
            android:name=".view.StockActivity"
            android:label="@string/title_activity_stock" />
        <receiver android:name=".service.BackupService" />
    </application>

</manifest>